@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --color-grey-100: #192434;
  --color-grey-90: #243244;
  --color-grey-80: #3D495A;
  --color-grey-70: #535F6F;
  --color-grey-60: #6D7885;
  --color-grey-50: #808A97;
  --color-grey-40: #99A1AC;
  --color-grey-30: #BDC2C8;
  --color-grey-20: #C4C9CE;
  --color-grey-10: #D2D5D9;
  --color-grey-00: #DADCDE;
  --shadow-s: 0 2px 8px 0 rgba(0, 0, 0, 0.08);

  --animate-ticker: scroll 40s linear infinite;
  @keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-50% - 9px)); }
  }

  --animate-ticker-vertical: scroll-y 20s linear infinite;
  @keyframes scroll-y {
    0% { transform: translateY(0); }
    100% { transform: translateY(-50%); }
  }
}

.pause-hover:hover {
  animation-play-state: paused;
}

.hover-center-card {
  transform-origin: center;
}

.hover-center-card:hover {
  transform: scale(calc(1 + 4 / 544));
  /* Increases height by approx 4px */
  border-color: transparent;
  background-image: linear-gradient(#FCFDFD, #FCFDFD), linear-gradient(var(--gradient-angle, -126deg), #DADCDE 0%, #FCC378 75%, #FD6253 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@layer components {
  .text-body-m {
    @apply font-sans font-medium text-[16px] leading-[1.8em] text-grey-70;
  }
  
  .text-body-r {
    @apply font-sans font-normal text-[16px] leading-[1.8em] text-grey-70;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}